#mybody{
    background-color:sienna!important;
    border: rgba(0, 255, 119, 0.947) 30px !important;
    border-style:ridge !important;
}
#hone{
    color: cornflowerblue !important;
    font-size:1cm !important;
    font-weight:bold !important;
    border-radius: 10px !important;
}
#hthree{
    color: darkgoldenrod !important;
    font-size: 20px !important;
    border-radius: 10px !important;
    font-weight: 600 !important;
}
button{
    border-radius: 10px !important;
}
#lab{
    border-radius: 10px !important;
}
#text{
    border-radius: 10px !important;
    width: 1000px;
    height: 225px;
}
#back{
    width: 100ex;
}
#but{
    width: 100ex;;
}